<h2>CRM Aboutus</h2>
<p>
  Tata group profile
Founded by Jamsetji Tata in 1868, the Tata group is a global enterprise, headquartered in India, comprising over 100 independent operating companies. The group operates in more than 100 countries across six continents, with a mission 'To improve the quality of life of the communities we serve globally, through long-term stakeholder value creation based on Leadership with Trust'.

Tata Sons is the principal investment holding company and promoter of Tata companies. Sixty-six percent of the equity share capital of Tata Sons is held by philanthropic trusts, which support education, health, livelihood generation and art and culture. In 2016-17, the revenue of Tata companies, taken together, was $100.39 billion. These companies collectively employ over 695,000 people.

Each Tata company or enterprise operates independently under the guidance and supervision of its own board of directors and shareholders. There are 29 publicly-listed Tata enterprises with a combined market capitalisation of about $130.13 billion (as on March 31, 2017). Tata companies with significant scale include Tata Steel, Tata Motors, Tata Consultancy Services, Tata Power, Tata Chemicals, Tata Global Beverages, Tata Teleservices, Titan, Tata Communications and Indian Hotels.
</p>
